# Auto detect text files and perform LF normalization
* text=auto
# Will not pull GMLive assets for people who has GMLive
scripts/GMLive*
extensions/GMLive/
datafiles/GMLive
objects/obj_gmlive*
To Do List.txt